.main-about{
  height: 100svh;
}
.skills-text{
  width: 80%;
  text-wrap: balance;
  font-weight: 300;
}
.about-back{
  position: relative;
  height: 100svh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 450px)  {
  .main-about{
    height: 140svh;
  }
}