
.contact-form{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 100%;
}
.contact-main{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.main-contact{
  height: 100%;
}