.presentation{
  position: relative;
}
.presentation-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 450px)  {
  .presentation{
    justify-content: center;
  }
  .presentation-title{
    width: 100%;
  }
  .ghost-image{
   display: none;
  }
  .presentation-title h2{
    font-size: 20pt;
  }
  .presentation-title h5{
    font-size: 14pt;
  }
  .presentation-title h6{
    font-size: 12pt;
  }
}