.main-skills{
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iconSkills{
  height: 50px;
  width: 50px;
}
.skills-img{
  width: 80%;
  height: 10%;
  gap: 10px;
  display: flex;
  justify-content: center;
}
@media (max-width: 450px)  {
  .skills-img{
    gap: 2;
  }
  .iconSkills{
    height: 20px;
    width: 20px;
  }
}