@import "react-alice-carousel/lib/alice-carousel.css";

#root {
  font: Lexend;
  color: white;
  min-height: 100svh;
  width: 100%;
  margin: 0;
  text-align: center;
  background-color:black;
}
.ghost-container{
  display: none;
}

.ghost-mobile{
  display: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar{
  display: flex;
}

.main-presentation {
  min-height: 100svh;
  width: 100%;
}
.main-background{
  position: absolute;
   min-height: 100svh;
  width: 100%;
  background: url("/public/ghost1.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: blur(10px);
}
.main-background2{
  position: absolute;
   min-height: 100svh;
  width: 100%;
  background: url("/public/ghost3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: blur(10px);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 450px)  {
  .ghost-mobile{
    position: relative;
    display: flex;
    width: 50%;
    height: 50%;
  }
  .ghost-container{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .main-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
